@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


$text-dark: #333;
$shadow-color: rgba(0, 0, 0, 0.2);
$button-start: #f8c95e;
$button-end: #f4b434;

.login-container {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  padding: 0 20px;
}

.login-header {
  width: 100%;
  text-align: center;
  background-color: #E2F1FA;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #555;
}

.login-title {
  flex-grow: 1;
  font-size: 16px;
  font-style: italic;
  color: $text-dark;
  margin: 0 20px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  background: linear-gradient(to bottom, #b8cde6, #0a2d57);
  padding: 20px;
  gap: 10px; 
  border-radius: 10px;
  height: 50vh;
}

.main button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.main button:first-child {
  background-color: #808080;
}

.main button:last-child {
  background-color: #9b51e0;
}

.main button:hover {
  filter: brightness(1.2);
}

.main input {
  border-radius: 5px;
}