@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


$text-dark: #333;
$shadow-color: rgba(0, 0, 0, 0.2);
$button-start: #f8c95e;
$button-end: #f4b434;

.registry-container {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registry-header {
  width: 100%;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #555;
}

.registry-title {
  flex-grow: 1;
  font-size: 16px;
  font-style: italic;
  color: $text-dark;
  margin: 0 20px;
  text-align: center;
  background-color: #E2F1FA;
  padding: 20px;
}
.main-registro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .main-title {
    font-size: 18px;
    font-style: italic;
    color: #5B6FD0;
  }

  .main-registry-list {
    //background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    font-weight: bold;

    .main-list-input1 {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5%;
      .list-input1 {
        width: 45%;
        height: 40px;
        background-color: #D9D9D9;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 15px;
        font-weight: bold;
      }
    }
    .list-input2 {
      width: 95%;
      height: 40px;
      background-color: #D9D9D9;
      border: 2px solid rgb(180, 180, 180);
      border-radius: 15px;
      font-weight: bold;
    }
  }
  
  .main-registry-button {
    //background-color: red;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    
    .main-question {
      display: flex;
      width: 50%;
      height: 40px;
      justify-content: center;
      align-items: center;
      border: 2px solid rgb(180, 180, 180);
      border-radius: 15px;
      background-color: #D9D9D9;
      font-size: 14px;
    }
    .main-buttons {
      //background-color: green;
      display: flex;
      justify-content: space-between;
      width: 45%;
      height: 40px;
      .main-button-confirm {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 15px;
        background-color: #D9D9D9;
        font-size: 14px;
      }
    }
   
  }
  .button-registry {
    width: 25%;
    height: 40px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #597aac;
    font-weight: bold;
  }
}

.registry-footer {
  margin-top: 2%;
  background-color: #C9BCBC;
  width: 100%;
  display: flex;
  flex-direction: column;

  .social-media-call {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media-general {
    display: flex;
    justify-content: center;
    gap: 10px;

    .social-media-images {
      //background-color: yellow;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}